.banner {
	-webkit-background-size: cover ! important;
	background-size: cover ! important;
	background-position: center center;
	background-repeat: no-repeat ! important;
	height: 80vh;
}

.carousel-caption {
	margin-bottom: 10%;
	font-family: poppins;
}
.carousel-caption h2 {
	font-size: 55px;
	text-transform: uppercase;
	font-weight: 500;
}
.carousel-caption h2 span {
	color: #47f575;
}
.carousel-caption h3
{
  /*font-family: 'Sofia', cursive;
  font-family: 'Cookie', cursive;*/
  font-family: 'Rochester', cursive;
  font-size: 25px;
}
.carousel-caption a {
	background: #2fd35a;
	padding: 10px 25px;
	display: inline-block;
	margin-top: 15px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
	text-transform: uppercase;
	border-radius: 25px;
}
.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
.carousel-indicators .active {
	background-color: #EDBB00;
	border-color: #EDBB00;
}
.carousel-caption a:hover {
  color: #000;
  text-decoration: none;
}
